body {
    width: 100% ;
    background: #E5E7EB;
    position: relative;
    

}

.item{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
}
.item a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}
.item a :hover{
    color: rgb(219, 111, 23);
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }


  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }  
.container{
    margin: auto;
    width: 70%;
    border: 3px solid rgb(43, 139, 18);
    padding: 10px;
    

}  
.bottom{
    margin: auto;
    width: 70%;
    border: 3px solid rgb(73, 194, 26);
    padding: 10px;

}